<h1>Sample App</h1>

<%- if @user.admin -%>
  <p>HELLO ADMIN <%= @user.name -%>!</p>
<%- else -%>
  <p> Hi <%= @user.name -%>, </p>
<%- end -%>
<p>
  Welcome to the Sample App! Click the link below to activate your account:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
